@*@{
        ViewBag.Title = "Detalhe";
    }

    <h2>Detalhe</h2>*@

@model ex.Models.AcessosAoSistema

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-witdh" />
    <title> Detalhe VC</title>
</head>

<body>
    <div>
        <h4> Olá @Model.UserName </h4>
        Já acedeu @Model.NumTimes vezes à aplicação
    </div>
</body>
</html>
